#discord {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 30%;
    right: 10%;
}

#discordcoding {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 30%;
    right: 70%;
}