#discord {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1%;
    right: 0%;
}

#discordcoding {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1%;
    right: 12%;
}